<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/cc23afd981.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= link_to "Bookers", books_path %>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="">
            <span>Bookers</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li>
                <a class=

                  <i class="fa-solid fa-house-chimney"></i>
              </li>

                </a>
              <li>
                 <a class=
              </li></a>

    <% if user_signed_in? %>

        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>

        <%= link_to 'Users', user_path(current_user.id), class: 'nav-link text-dark' %>

    <% else %>

        <%= link_to "sign up", new_user_registration_path, class: 'nav-link text-dark' %>

        <%= link_to "Log in", new_user_session_path, class: 'nav-link text-dark' %>

    <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <footer>
          <p>CopyRight Infratop.inc</p>
          
    </footer>
  </body>
</html>
